<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<meta name="keywords" content="Show, TV, Cinema, Streaming, Serie">
	<meta name="author" content="BN Mara">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
            <script src="https://kit.fontawesome.com/966d4eef42.js" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
            <script type="text/javascript"src="{{asset('js/jquery.37.js')}}"></script>
        {% block javascripts %}
            
          
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
    <div class="section" >
    <header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="{{path('app_vote_process_start')}}" class="float-start">
            <img src="{{asset('images/logo_title.png')}}" height="35" />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <!--<a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
              <i class="fas fa-user-alt m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0">Sign in</p>
            </a>-->
            <!--<a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center bg-warning" target="_blank">
              <i class="far fa-user m-1 me-md-2"></i>
              <p class="d-none d-md-block mb-0 .text-warning">Sign up</p>
            </a>-->
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
           
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Heading -->
  <div class="" style="padding-bottom:10px">
  <img src="{{asset('images/b-desktop.png')}}" class="img-fluid d-none d-lg-block" alt="Responsive image">
  <img src="{{asset('images/b-android.jpg')}}" class="img-fluid d-lg-none" alt="Responsive image">

    <!--<div class="container py-4">-->
      <!--<h3 class="text-white mt-2">Support your favorite artist</h3>-->
      <!-- Breadcrumb -->
      <!--<nav class="d-flex mb-2">
        <h6 class="mb-0">
          <span class="text-white-50 mx-2"> Vote for your artist to win </span>
        </h6>
      </nav>-->
      <!-- Breadcrumb -->
    <!--</div>-->
  </div>
  <!-- Heading -->
</header>
        {% block body %}{% endblock %}
<footer class="text-center text-lg-start text-muted bg-dark mt-3">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start pt-4 pb-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-12 col-lg-3 col-sm-12 mb-2">
          <!-- Content -->
          <a href="{{path('app_vote_process_start')}}" class="text-white h2">
            <img src="{{asset('images/logo_title.png')}}" height="35" />
          </a>
          <p class="mt-1 text-white">
            © 2023: Maajabu Rafiki
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">
            Contact
          </h6>
          <ul class="list-unstyled mb-4">
            <li><span class="text-white"><i class="fas fa-map-marker-alt"></i> N°16, Ave Basoko, Kinshasa</span></li>
        <br>
            <li><span class="text-white"><i class="fa fa-phone" ></i> +243 891 510 000</span></li>
            <br>
            <li><span class="text-white"><i class="fas fa-envelope"></i> contact@maajabugospel.com</span></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!--<div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <!--<h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
          <p class="text-white">Stay in touch with latest updates about our products and offers</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control border" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
            <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
              Join
            </button>
          </div>-->
        <!--</div>-->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <!--<h6 class="text-uppercase text-white fw-bold mb-2">
            Support
          </h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-white-50" href="#">Help center</a></li>
            <li><a class="text-white-50" href="#">Documents</a></li>
            <li><a class="text-white-50" href="#">Account restore</a></li>
            <li><a class="text-white-50" href="#">My orders</a></li>
          </ul>-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
          <p class="text-white">Restez en contact avec les dernières mises à jour sur nos produits et offres</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control border" id="inputEmail" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
            <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
              valider
            </button>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="">
    <div class="container">
      <div class="d-flex justify-content-between py-4 border-top">
        <!-- payment -->
        <div>
          <i class="fab fa-lg fa-cc-visa text-white"></i>
          <i class="fab fa-lg fa-cc-amex text-white"></i>
          <i class="fab fa-lg fa-cc-mastercard text-white"></i>
          <i class="fab fa-lg fa-cc-paypal text-white"></i>
        </div>
        <!-- payment -->

        <!-- language selector -->
        <!-- language selector -->
      </div>
    </div>
  </div>
</footer>
</div>
<script>
$(document).ready(function(){
 
  $('#button-addon2').click(function() {
	var value = $("#inputEmail").val();
	$.ajax({
	url: "{{ path('app_vote_process_newsletter') }}",
    type: "POST",
	data: {
            'email': value
    },
    success: function(response) {
		console.log(response);
        //response = JSON.parse(response);
        //$("div#myList").html(response.list);
		//$("span#ttal").html(response.total);    
    }
    });
  });
});
</script>
    </body>
</html>
